@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/jura/v8/hX8TKZ1smeuxRDNTreZRNQ.eot);
}
@font-face {
  font-family: 'Lekton';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/lekton/v7/lotPpREcKffQzibJJTvIjw.eot);
}
