/*
 * Bueno Photography - Responsive Modern HTML Template
 * By MonnyDesign
 * Themeforest Profile: http://themeforest.net/user/MonnyDesign
 * Demo URL: http://monnydesign.com/bueno-boot
 * Created: February 2015
 * Version: 1.0.0
 */



/* Table of Content
 ==================================================
 #General Styles
 #Home Page Styles
 #Menu Styles
 #Social Networks Styles
 #Logo and copyright Styles
 #Albums Page Styles
 #About Page Styles
 #Prices Page Styles
 #Contacts Page Styles
 #Footer
 #Custom CSS of Foundation Framework
 #Media Queries
 #Dark Version
*/



/* #General Styles

================================================== */

@charset "UTF-8";

@font-face {
    font-family: Baskerville;
    src: url(../fonts/baskerville.otf);
    src: url(../fonts/baskerville.eot);
    src: url(../fonts/baskerville.woff);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
	background: #fff;
	font-family: 'Jura', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	font-size: 17px;
}

video{
    width: 100%;
    height: auto;
    
}

::selection {
	background: #222;
	color: #fff;
}

img {
	max-width: 100%;
	height: auto;
}

.fixed-header .header-content {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  background: rgba(255, 252, 255, 0.9);
  z-index: 9988;
}

.fixed-header .logo img {
  margin: 0 auto;
}

.setheight {
	overflow-x: hidden;
	overflow-y: auto;
    max-height: 100%;
}

.d-table{
	display: table;
	width: 100%;
	vertical-align: middle;
	float: none;
}

.d-tablecell{
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	float: none;
}

body > .container-fluid {
    height: calc(100% - 12%);
}

main.content {
    height: 100% !important;
}

section#content-wrap {
	height: calc(112% - 70px - 75px);
    overflow: hidden;
}
.white{
	color:#fff;
}

.ismobile body:not(.hasSlider) .container-fluid,
body.noCustomScroll:not(.hasSlider) .container-fluid {
    height: auto;
}

.ismobile body:not(.hasSlider) section#content-wrap,
body.noCustomScroll:not(.hasSlider) section#content-wrap {
	height: auto;
}

.noCustomScroll .setheight {

}

.huge_it_slideshow_dots_thumbnails_2 {
  bottom: 0px;
}

.no-padding-right{
	padding-right: 0;
}

.no-padding-left{
	padding-left: 0;
}

.no-padding{
	padding-left: 0;
	padding-right: 0;
}

@media print {
  .container {
    width: 100%;
  }
}

.wrap {
	margin: 0 auto;
	height: 100%;
	display: table-row;
}

.clearfix:after {
    clear:both;
    content:".";
    display:block;
    font-size:0;
    height:0;
    line-height:0;
    visibility:hidden
}

.clearfix {
    zoom:1
}

a img {
    color: transparent;
}

.fullheight {
    height: 100%;
}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

#footer {
	padding-bottom: 20px;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
	background-color: #E8AA30;
}

img.aligncenter, img.alignnone {
  margin-bottom: 12px;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slider-banner {
    background: linear-gradient(rgba(255, 255, 255, 0.91),rgba(255,255,255,0.97)),
                url("../img/p_10.jpg") 50% 50%;
}

.slider-banner > .mCustomScrollBox {
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}

.slider-banner >  .banner {
    width: 100% !important;
}

.mCS_no_scrollbar_y {
	display: table;
	width: 100%;
}

.mCS_no_scrollbar_y .mCSB_inside {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}

.slider-banner.mCustomScrollbar .mCSB_container {
    width: 100%;
}

.mCSB_inside > .mCSB_container {
    margin-right: 0px !important;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    margin-right: 0px !important;
}

.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
    margin-right: 0 !important;
}



/* #Menu Styles

================================================== */

#wrapper header .navbar {
	box-shadow: none;
	border: none;
    margin-bottom: 0;
}


.menu {
	margin-top: 0px;
}

.menu li {
	list-style: none;
	padding: 15px 15px 0 15px;
}

.menu li.logo {
	padding: 0;
}

.menu li a {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #000;
	font-family: 'Jura', sans-serif;
	font-size: 14px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
	padding:0;
}

.dropdown-noeffect{
	padding: 0 0 15px 0 !important;
}


.menu li.active a,
.menu li a:hover {
	color: #c5a47e;
	padding: 0px 0px 15px 0px;
	border-bottom: 1px solid #c5a47e;
	-moz-transition: border-color 3s linear;
	-o-transition: border-color 3s linear;
	-webkit-transition: border-color 3s linear;
	transition: border-color 3s linear;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

ul.menu-buttons {
	display: table-cell;
	vertical-align: middle;
	padding-top: 25px;
	float: right;
}

ul.menu-buttons li {
	background: rgba(204, 204, 204, 0.05);
}

.menu-buttons li.current-menu-item a {
	color: #c5a47e;
}

.main-menu-wrapper {
	float: left;
}

.margin-index-menu {
	margin-right: 20px;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #fff;
    height: 75px;
}

.navbar-default .navbar-brand{
	color: #333;
	-moz-transition: border-color 3s linear;
	-o-transition: border-color 3s linear;
	-webkit-transition: border-color 3s linear;
	transition: border-color 3s linear;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.navbar-default .navbar-brand:hover{
	color: #c5a47e;
	-moz-transition: border-color 3s linear;
	-o-transition: border-color 3s linear;
	-webkit-transition: border-color 3s linear;
	transition: border-color 3s linear;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.navbar-default .navbar-collapse {
	border-color: #fff;
}

.navbar-toggle {
	border: none;
	margin-top: 23px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 15px;
    height: 1.5px;
}

.navbar-nav {
	background: rgba(204, 204, 204, 0.05);
    min-height: 65.2px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #c5a47e;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-nav>li>a {
	line-height: 35px;
}

@media (max-width: 767px) {
    header.top-menu {
        height: 75px;
    }

    .navbar.navbar-default {
        position: fixed;
        left: 0;
        width: 100%;
        z-index: 8889;
    }
}

a.dropdown-noeffect {
    border-bottom: none !important;
    background: transparent !important;
    color: #777 !important;
}


a.dropdown-noeffect:hover {
    color: #c5a47e !important;
}

ul.dropdown-menu {
    border-radius: 0;
    box-shadow: none;
    border: none;
    background: #fdfdfd;
}

.nav .open>a{
	border-color: #c5a47e !important;
}

 

 
.dropdown-menu > li.kopie > a {
    padding-left:5px;
}
 
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:-6px;margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
 }
  
.dropdown-submenu > a:after {
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
 
.dropdown-submenu:hover>a:after {

 }
 
  
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
}  

 

/* #Social Networks Styles

================================================== */

.social-networks,
.social-networks li{
	list-style: none;
	float: right;
	border-bottom: none;
	padding: 0 10px;
	margin-top: 4px;
	color: #000;
}

.social-networks li:last-child{
	padding-right: 0;
}

.social-networks li a{
	border-bottom: none;
	color: #000;
	-moz-transition: border-color 3s linear;
	-o-transition: border-color 3s linear;
	-webkit-transition: border-color 3s linear;
	transition: border-color 3s linear;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.social-networks li a:hover{
	color: #c5a47e;
	-moz-transition: border-color 3s linear;
	-o-transition: border-color 3s linear;
	-webkit-transition: border-color 3s linear;
	transition: border-color 3s linear;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.social-networks-aba,
.social-networks-aba li{
	list-style: none;
	float: right;
}

.social-networks {
	border: none;
	padding-right: 0;
	display: flex;

}

.social-networks-aba {
	border: none;
	margin-right: 16px;
}



/* #Logo and copyright Styles

================================================== */

a.navbar-brand {
    text-decoration: none;
    color: #000;
    display: inline-block;
}

a.navbar-brand:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
}

a.navbar-brand h2,
a.navbar-brand h3 {
	font-family: "Baskerville";
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
}

a.navbar-brand h2 {
	margin: 0;
	font-size: 20px;
}

a.navbar-brand h3 {
	margin-top: 3px;
	margin-bottom: 0;
	font-size: 10px;
}

a.navbar-brand img {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 20px;
	display: block;
}

.copyright{
	margin: 0 auto;
	font-size: 14px;
	font-family: 'Jura', sans-serif;
}

.copyright a {
	color: #000;
}

.copyright a:hover {
	text-decoration: none;
	color: #c5a47e;
}

.footer-copyright{
	border-bottom: 1px solid #eee;
	width: 90%;
	margin: 0 auto;
}




/* #Home Page Styles

================================================== */

.index-content {
    margin: 0;
}

.index-content .d-tablecell {
    padding: 0;
}

.banner {
	position: relative;
	overflow: auto;
	padding-right: 0;
}

.banner li {
	list-style: none;
}

.banner ul li {
	float: left;
}

.banner {
	width: 100%;
    height: 100%;
}

ul.project-slider.center {
	padding: 0;
}

.banner.col-md-12.clearfix {
	padding: 0;
}

.project-slider img {
	width: 100%;
	margin: 0 auto;
	display: inline-block;
}

.project-slider {
	height: 100%;
}

.slider-banner.setheight {
    overflow: hidden;
}



/* #Albums Page Styles

================================================== */

.albums, .about-content, .contacts-content {
	margin: 0 auto;
}

.albums{
	border-right: 1px dotted #ccc;
    border-left: 1px dotted #ccc;
}

li.album-set-img.col-md-4 {
  padding-left: 0;
}

.album-set img:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.album-set-img img:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.padding-right-none {
	padding-right: 0;
}


.album-1, .padding-none img {
	padding: 0 0px 0 0;
	float: left;
}

.album-title {
	padding: 0 !important;
}

.album-title,
.album-title h2 {
	position: absolute;
	color: #fff;
	font-size: 17px;
	margin: 0px 8px;
	bottom: 0;
	right: 0;
	background-color: #000;
	padding: 10px;
	display: block !important;
	font-family: 'Jura', sans-serif;
	font-weight: bold !important;
	letter-spacing: 3px;
}

ul#lightGallery {
	margin: 0 !important;
	padding: 0;
}

.grid-item { 
    width: 300px; 
    padding: 0 10px 20px;
}

.grid-item img{ 
    width: 100%;
}

.grid-item--width2 { width: 400px; }

.main-title-album h1{
	letter-spacing: 1px;
	font-size: 25px;
}

.albums::-webkit-scrollbar-thumb,
.setheight::-webkit-scrollbar-thumb {
	background: #666;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.albums::-webkit-scrollbar-track,
.setheight::-webkit-scrollbar-track {
	background: #EAEAEA;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.padding-top img{
	padding-top: 20px;
}

ul#bebovski-album-container {
  padding-left: 15px;
}




/* #About Page Styles

================================================== */

.about-content {
	background: linear-gradient(rgba(255, 255, 255, 0.91),rgba(255,255,255,0.97)),
                url("../img/p_10.jpg") 50% 50%;
}

.about-title h1,
.contacts-title h1,
.prices-title h1 {
	font-family: 'Baskerville', sans-serif;
	font-size: 27px;
	padding: 0px 25px;
	color: #d3d3d3;
	margin-bottom: 0;
}

.about-paragraph {
	border-right: 1px dotted rgba(153,153,153,0.20);
	padding: 0 20px 0 30px;
	margin: 10px 0;
}

.about-paragraph p {
	font-family: 'Jura', sans-serif;
	font-size: 16px;
	line-height: 28px;
	color: #333;
}

.about-paragraph:last-child {
	border-right: none;
}

img.signature {
	display: block;
	margin: 0 auto;
}



/* #Prices Page Styles

================================================== */

.prices-content{
	font-family: 'Jura', sans-serif;
	background: linear-gradient(rgba(255, 255, 255, 0.91),rgba(255,255,255,0.97)),
                url("../img/p_10.jpg") 50% 50%;
}

.prices-contents{
	padding: 30px 30px !important;
}

.price-title-list h3{
	border-bottom: 3px dotted #c5a47e;
	border-width: 2px;
	padding-bottom: 1em;
	font-weight: 800;
	font-size: 23px;
}

.prices-border {
	padding: 20px;
	margin: -20px;
	border: 2px dotted rgba(197, 164, 126, 0.44);
}

.prices-title{
	display: none;
}

.price-cost h4{
	font-size: 33px;
	padding-top: 20px;
	padding-bottom: 15px;
}

.prices {
    padding: 2em;
    text-align: center;
    border: 1px solid rgba(85,85,85,0.20);
    font-family: 'Jura', sans-serif;
    background: rgb(255, 255, 255);
}

.prices-list {
	margin: 10px 0;
}

.prices-text{
	font-size: 17px;
}

.prices-button{
	border: 3px solid #c5a47e;
	background: #fff;
	padding: 1em 1.8em;
  	width: 100px;
  	margin: 30px auto;
    display: inline-table;
    font-family: 'Lekton', sans-serif !important;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}

.prices-button:hover{
	background: #c5a47e;
	color: #fff;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}

.prices-button a{
	font-size: 17px;
	text-transform: uppercase;
	color: #555;
	letter-spacing: 1px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}

.prices-button a:hover{
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}



/* #Contacts Page Styles

================================================== */

fieldset .field-size{
	width: 100% !important;
	border-bottom: 1px dotted #999;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

input:not(.btn), textarea {
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid #999;
	background-color: transparent;
	background: transparent;
	padding: 3em 1em 0.5em .1em;
	margin: 0;
}

input:not(.btn), textarea, select {
	font-family: 'Lekton', sans-serif;
	font-size: 100%;
	background: transparent;
	color: rgba(0,0,0,0.9);
	border: none;
	outline: 0;
	padding: 1.36em .4em 0.55em;
	margin: .5em 0;
	display: block;
	width: 100% !important;
	display: block !important;
	float: none !important;
	font-weight: 400;
	-webkit-appearance: none;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 0.25s ease-in;
	-moz-transition: all 0.25s ease-in;
	transition: all 0.25s ease-in;
}

textarea {
	font-family: 'Jura', sans-serif !important;
	font-size: 100% !important;
	min-height: 140px;
	border-bottom: 1px dotted #999;
}

.contacts-content {
	background: linear-gradient(rgba(255, 255, 255, 0.96),rgba(255,255,255,0.97)),
                url("../img/p_10.jpg") 70% 50%;;
}

.button-submit button{
	border: 1px solid #adadad;
	background: none;
	border-radius: 0;
	color: #999;
	font-family: 'Lekton', sans-serif !important;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
	margin: 30px 15px 0 30px;
	width: 25%;
	float: right;
}

.button-submit button:hover {
	color: #fff;
	background-color: #c5a47e;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}

.contacts-info {
	padding: 4px;
	display: -webkit-inline-box;
}


.contacts-info a{
	color: #000;
    font-size: 16px;
}

fieldset ul{
	width: 100% !important;
}

fieldset.col-md-6.no-padding {
  padding-left: 0;
}

form#contactform{
	height: auto;
}

.contacts-address-img{
	background: url("../img/image-2.jpg") top left;
	min-height: auto;
	padding: 30px 0;
}

.contacts-info h3{
	padding: 20px;
	margin: 0;
	color: #fff;
	font-family: 'Jura', sans-serif;
	font-size: 40px;
}

.contacts-info strong{
	padding: 0px 5px 0 15px;
	color: #c5a47e;
	font-family: 'Jura', sans-serif;
	margin: 0 ;
}

a.contacts-info-a{
	color: #fff;
	padding: 0 10px;
	font-size: 23px;
	font-family: 'Jura', sans-serif;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}

a.contacts-info-a:hover{
	color: #c5a47e;
	text-decoration: none;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}

.contacts-info span{
	color: #c5a47e;
}

.contacts-trans{
	padding: 30px;
}

hr.sep-left {
	margin: .7em 0;
	width: 92%;
	display: block;
	border: 1px solid #c5a47e;
	margin: 0 13px 30px 13px;
}

#map {
	height: 309px;
}

.contacts-info-wrap{
	margin-bottom: 30px;
}


/* #BLOG Page Styles

================================================== */

.col-md-12.blog-post {
    float: left;
    margin-bottom: 50px;
    position: relative;
    text-align: center;
    width: 50%;
    padding: 0 25px;
}

.blog-post {
	font-family: 'Jura', sans-serif;
}

.blog-post h2 {
    font-size: 23px;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 36px;
    color: #000000;
    background: #f6f6f6;
    margin-bottom: 0;
}

.blog-post a {
    text-decoration: none !important;
}

.blog-post h2:hover {
	color: #ccc;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}

.blog-post img:hover {
	filter: alpha(opacity=70);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

h3.cufon,
h1.cufon {
    font-family: 'Jura', sans-serif;
}

.post_detail {
    font-family: 'Jura', sans-serif;
}

.post_detail p {
    padding-top: 30px;
}

.post-meta-bottom {
    font-family: 'Jura', sans-serif;
    font-size: 17px;
    width: 100%;
    border-top: 1px solid #ccc;
    margin-top: 30px;
    padding-top: 30px;
}

.prev-next-post {
    font-family: 'Jura', sans-serif;
    padding: 40px 0;
    font-size: 20px;
}

.prev-post {
    float: left;
}

.next-post {
    float: right;
}

.post-details {
	width:100%;
	margin: 20px 0;
}

.post_detail {
	float: left;
}

.post_detail.post-commnets-count {
	float:right;
	width:100px;
	text-align:right;
}

h3#comments {
    border-bottom: 2px solid #a3a3a3;
    border-top: 2px solid #a3a3a3;
    padding: 30px 0;
    position: relative;
    margin: 40px auto 50px auto;
    text-align: center;
    font-family: 'Jura', sans-serif;
}

ol.commentlist {
    display: inline-block;
    margin-left: 30px;
    width: 90%;
}

li.comment {
    float: none;
    font-family: 'Jura', sans-serif;
    font-size: 17px;
    margin-bottom: 40px;
    border-bottom: 2px dotted #ccc;
    padding-bottom: 20px;
}

.reply {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.comment p {
    padding: 20px;
}

div#respond {
    font-family: 'Jura', sans-serif;
    text-align: center;
}

.categories .cat-item {
    position: relative;
    margin-right: 15px;
}

.categories .cat-item:after {
	content: ", ";
	position: absolute;
	bottom: 0;
	right: -5px;
}

.categories .cat-item:first-child:after{
    display: none;
}

.post-content{
	font-family: 'Jura', sans-serif;
	font-size: 17px;
}

.post-tags {
    width: 50%;
    display: block;
    float: left;
}

.post-categories {
    width: 50%;
    float: right;
}

.post-categories .categories {
    float: right;
}



/* #Media Queries

================================================== */

@media (max-width: 567px) { 
	body{
		background: #f7f7f7;
	}

	.prices-list {
	    margin-top: 0;
	}

	.prices-contents {
	    padding: 0px !important;
	}

	.button-submit button {
		width: auto;
	}

	.container-fluid footer{
		background: rgba(247,247,247,1);
		background: -moz-linear-gradient(left, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 47%, rgba(247,247,247,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(247,247,247,1)), color-stop(47%, rgba(255,255,255,1)), color-stop(100%, rgba(247,247,247,1)));
		background: -webkit-linear-gradient(left, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 47%, rgba(247,247,247,1) 100%);
		background: -o-linear-gradient(left, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 47%, rgba(247,247,247,1) 100%);
		background: -ms-linear-gradient(left, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 47%, rgba(247,247,247,1) 100%);
		background: linear-gradient(to right, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 47%, rgba(247,247,247,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f7f7f7', GradientType=1 );
	}

	.social-networks {
		width: 100%;
		text-align: center;
		margin: 0 auto;
		display: inline-block;
	}

    .social-networks li {
    	display: inline-block;
    	float: none;
    }

    .social-networks-aba {
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}

    .social-networks-aba li {
    	display: inline-block;
    	float: none;
    }

	.album-set:first-child{
		margin-bottom: 20px;
	}

	li.album-set-img:first-child {
	    margin-bottom: 20px;
	}

	.ismobile .navbar-nav,
	.navbar-nav{
		background: #fff;
	}

	a.dropdown-noeffect {
	    font-size: 13px !important;
	    letter-spacing: 2px !important;
	}

	.navbar-nav .open .dropdown-menu>li>a {
	    padding: 5px 0px 5px 0px;
	}

	.grid-3 {
	    padding-top: 20px;
	}
    
    .grid-item {
        width: 100%;
    }
}

@media (max-width: 767px) {
    
    section#content-wrap{
        height: auto;
    }
    
	.navbar-nav{
		background: #fff;
	}

	.album-set:first-child{
		margin-bottom: 20px;
	}

	li.album-set-img:first-child {
	    margin-bottom: 20px;
	}

	.copyright p{
		text-align: center;
	}

	.prices-content{
		padding-top: 20px;
	}

	.contacts-trans{
		padding: 30px 20px;
	}

	.navbar-nav{
		padding: 0 10px 20px 10px;
	}

	.navbar-default .navbar-nav>.active>a,
	.navbar-default .navbar-nav>.active>a:focus,
	.navbar-default .navbar-nav>.active>a:hover{
		width: 5%;
		padding: 0px 0px 10px 0px;
	}

	#wrapper header .navbar{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
	}

	.about-title h1, .contacts-title h1 {
	    margin-left: -15px;
	}

	a.dropdown-noeffect {
	    font-size: 13px !important;
	    letter-spacing: 2px !important;
	}

	.navbar-nav .open .dropdown-menu>li>a {
	    padding: 5px 0px 5px 0px;
	}

	.grid-3 {
	    padding-top: 20px;
	}	
    
    .grid-item {
        width: 100%;
    }

}

@media (min-width: 1156px) {
	.prices-text{
		font-size: 15px;
	}

	.price-cost h4 {
	 	font-size: 25px;
	}

	.margin-index-menu {
		margin-right: -15px;
	}

	.social-networks,
    .social-networks li {
	    margin-top: 0;
	}

	.home-footer .col-md-10 {
		padding-left: 0;
		padding-top: 0;
	}

	#footer{
		padding-top: 15px;
	}
}


@media (min-width: 1886px) {
	.prices-text{
		font-size: 17px;
	}

	.price-cost h4 {
	 	font-size: 30px;
	}

	.margin-index-menu {
		margin-right: -15px;
	}

	.social-networks, .social-networks li {
	    margin-top: 0;
	}

	.home-footer .col-md-10 {
		padding-left: 0;
		padding-top: 0;
	}

	#footer {
		padding-top: 15px;
	}
}

@media (max-width: 1000px) {

	.about-title{
		margin-top: 30px;
	}

	.about-trans{
		padding: 0 30px;
	}

	.social-networks li:last-child {
	    padding-right: 10px;
	}

	.album-title, .album-title h2{
		font-size: 19px;
	}

	.album-set:first-child{
		margin-bottom: 20px;
		margin-top: 20px;
	}

	li.album-set-img:first-child {
	    margin-bottom: 20px;
	    margin-top: 20px;
	}

	.social-networks {
		text-align: center;
		margin: 0 auto;
		padding: 0;
		display: inline-block;
	}

	.contacts-content{
		background: transparent;
	}

	.contacts-trans {
	    background: #f7f7f7;
	}

	.about-paragraph {
		padding: 0;
	}

	.main-menu-wrapper {
  		display: none;
	}

	#map {
  		margin-top: 40px;
  		padding-left: 0;
	}

	.social-networks-aba{
		text-align: center;
		margin: 0 auto;
		padding: 0;
	}

	.about-content{
		background: #f7f7f7;
		height: 100%;
	}

	.about-trans{
		height: 100%;
	}

	.about-title h1, .contacts-title h1{
		font-size: 30px;
		padding: 0px;
		margin-top: 0;
	}

	.about-paragraph{
		border: none;
	}

	.about-paragraph p{
		font-size: 17px;
	}

	.prices-border {
        height: 100%;
        padding: 10px 5px;
	}

	.prices{
		height: 100%;
	}

	.prices-button{
		display: none;
	}

	.price-title-list h3 {
        font-size: 17px;
	}

	.prices-content {
        background: #f7f7f7;
	}

	.prices-all {
        padding: 0 0px;
	}

	.copyright p{
		margin-top: 15px;
	}

	.margin-index-menu{
		margin-right: -15px;
	}

	.social-networks, .social-networks li {
	    margin-top: 0;
	}

	.home-footer .col-md-10{
		padding-left: 0;
		padding-top: 0;
	}

	#footer{
		padding-top: 15px;
	}

	.grid-3 {
	    padding-top: 20px;
	}
}

@media (max-width: 1366px) {

	.margin-index-menu {
		margin-right: -15px;
	}

	.social-networks, .social-networks li {
	    margin-top: 0;
	}

	.home-footer .col-md-10 {
		padding-left: 0;
		padding-top: 0;
	}

	#footer {
        padding-top: 15px;
	}

	.price-title-list h3 {
        font-size: 19px;
	}

	.price-cost h4{
        font-size: 28px;
	}

	.prices-button{
        margin: 25px auto;
	}

}



/* #Dark Version

================================================== */

body.dark{
    color: #777;
}

body.dark,
body.dark .navbar-default{
    background: #000;
}

body.dark .slider-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.91),rgba(0, 0, 0, 0.97)), url(../img/p_10.jpg) 50% 50%;
}

body.dark .navbar-default .navbar-brand{
    color: #959595;
}

body.dark .navbar-default .navbar-brand:hover {
    color: #c5a47e;
    -moz-transition: border-color 3s linear;
    -o-transition: border-color 3s linear;
    -webkit-transition: border-color 3s linear;
    transition: border-color 3s linear;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

body.dark .copyright a{
    color: #777;
}

body.dark .copyright a:hover {
    text-decoration: none;
    color: #c5a47e;
}

body.dark .social-networks li a {
    border-bottom: none;
    color: #959595;
    -moz-transition: border-color 3s linear;
    -o-transition: border-color 3s linear;
    -webkit-transition: border-color 3s linear;
    transition: border-color 3s linear;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

body.dark .social-networks li a:hover {
    color: #c5a47e;
    -moz-transition: border-color 3s linear;
    -o-transition: border-color 3s linear;
    -webkit-transition: border-color 3s linear;
    transition: border-color 3s linear;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

body.dark .about-content {
    border-left: 1px dotted rgba(51, 51, 51, 0.36);
    border-right: 1px dotted rgba(51, 51, 51, 0.36);
    background: linear-gradient(rgba(0, 0, 0, 0.91),rgba(0, 0, 0, 0.97)), url(../img/p_10.jpg) 50% 50%;
}

body.dark .about-paragraph p {
    font-family: 'Jura', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #959595;
}

body.dark ul.dropdown-menu {
    background: #000000;
}

body.dark .prices-content{
    border-left: 1px dotted rgba(51, 51, 51, 0.36);
    background: linear-gradient(rgba(0, 0, 0, 0.91),rgba(0, 0, 0, 0.97)), url(../img/p_10.jpg) 50% 50%;
}

body.dark .prices{
    background: #000;
}

body.dark .prices-button {
    background: #000;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

body.dark .prices-button:hover {
    background: #c5a47e;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

body.dark .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #333;
}

body.dark .mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
    background: rgba(51, 51, 51, 0.36);
}

body.dark .albums {
    border-left: 1px dotted rgba(51, 51, 51, 0.36);
    border-right: 1px dotted rgba(51, 51, 51, 0.36);
}

body.dark .contacts-content {
    border-left: 1px dotted rgba(51, 51, 51, 0.36);
    border-right: 1px dotted rgba(51, 51, 51, 0.36);
    background: linear-gradient(rgba(0, 0, 0, 0.94),rgba(0, 0, 0, 0.94)), url(../img/p_10.jpg) 70% 50%;
}

body.dark .contacts-info a {
    color: #777;
}

body.dark input:not(.btn), textarea, select {
    color: rgba(255, 255, 255, 0.9);
}


body.dark .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
}

body.dark .pace{
    background: #000;
}

body.dark .pace.pace-inactive .pace-progress{
    background: transparent;
}

body.dark .pace .pace-progress:after {
    font-family: 'Jura', sans-serif;
    color: rgb(255, 255, 255);
    background: #000;
}

body.dark .pace.pace-inactive .pace-progress {
    background: #000;
}

body.dark .album-title, .album-title h2 {
    margin: 0px 7px;
}

body.dark fieldset .field-size,
body.dark textarea
{
    border-bottom: 1px dotted rgba(153, 153, 153, 0.3);
}
